
@{
    ViewBag.Title = "Great";
    Layout = "~/Views/shared/_LayoutPage2.cshtml";
}



<link href="~/assets/css/templatemo-finance-business.css" rel="stylesheet" />




    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- Page Content -->
    <div class="page-heading3 header-text">
        
    </div>
    <div class="container-fluid  " style="background: #A020F0">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <div class="more-info about-info  ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="more-info-content pb-80 ">
                                        <div class="row  ">
                                            <div class="col-md-6 great">
                                                <div class="left-image ">
                                                    <img src="~/assets/img/Great_copy.png" />

                                                </div>
                                            </div>
                                            <div class="col-md-6 align-self-center ">
                                                <div class="right-content text-white">
                                                    <div class="row my-4">
                                                        <h1 class="text-left">  Great!!!  </h1>
                                                        <h3 class="font-weight-bold text-white-75 fs-4 my-2">
                                                            What are you looking for?
                                                        </h3>
                                                        <h5 class=" fs-5 text-white-50 my-2">You are about to take your first step towards Financial Independence</h5>

                                                        <div class="col-md-3 col-4 text-center " style="background-image: url('/assets/img/mobile2.png'); background-repeat:no-repeat;padding-top:70px;padding-bottom:70px;background-size:100% 100%;">
                                                            <span class="fs-6 fs font-weight-bold"> Resolve/ Refinance Your debt</span>
                                                            <span class="fs-1"> <i class="fa fa-check-to-slot"></i></span>
                                                        </div>
                                                        <div class="col-md-3 col-4 text-center " data-bs-toggle="modal" data-bs-target="#invest" style="background-image: url('/assets/img/mobile2.png'); background-repeat:no-repeat;padding-top:70px;padding-bottom:70px;background-size:100% 100%;">
                                                            <span class="fs-6 fs font-weight-bold"> Savings & Investment</span>
                                                            <span class="fs-1"> <i class="fa fa-check-to-slot" style="margin-top:30px"></i></span>
                                                        </div>
                                                        <div class="col-md-3 col-4 text-center " style="background-image: url('/assets/img/mobile2.png'); background-repeat:no-repeat;padding-top:80px;padding-bottom:70px;background-size:100% 100%;">
                                                            <span class="fs-6 fs  font-weight-bold"> Get Credit</span>
                                                            <span class="fs-1"> <i class="fa fa-check-to-slot" style="margin-top:40px"></i></span>
                                                        </div>
                                                    </div>
                                                 
                                                    <a href="~/home/CustomerInfo" class="filled-button bg-white font-weight-bold text-black-50">Get started</a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 great1">
                                                <div class="left-image ">
                                                    <img src="~/assets/img/Great_copy.png" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>










