
@{
    ViewBag.Title = "Debt Settlement Firm";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

@*<script src="~/assets/site_js/Register.js"></script>*@

<link href="~/assets/css/templatemo-finance-business.css" rel="stylesheet" />
<link href="~/assets/css/owl.css" rel="stylesheet" />



<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!-- Header -->
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="scroll-container">
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
            <!-- Item -->

            <div class="item item-1">
                <div class="img-fill" style="background: url('/assets/img/background.jpg'); background-repeat: no-repeat; background-size: 100% 100%; ">
                    <div class="text-content text-white">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6 col-sm-6 maincontent" style="padding-top:50px">
                                <div class="lg:pt-15 ">
                                    <h1 class="  font-bold lg:h1 control " style="font-weight: 700;">Control your <span class="word" style="color: #fb7668"></span></h1>
                                </div>
                                @*<div class="d-lg-flex p-2">
                                        <h3 class="font-bold text-center lg:p-6">Relief from all your financial problems</h3>
                                    </div>*@
                                <div class="row my-4">
                                    <div class="col-md-3 col-4 text-center " style="background-image: url('/assets/img/mobile2.png'); background-repeat:no-repeat;padding-top:70px;padding-bottom:70px;background-size:100% 100%;">
                                        <span class="fs-5 fs font-weight-bold"> Resolve/ Refinance Your debt</span>
                                        <span class="fs-1"> <i class="fa fa-check-to-slot"></i></span>
                                    </div>
                                    <div class="col-md-3 col-4 text-center " data-bs-toggle="modal" data-bs-target="#invest" style="background-image: url('/assets/img/mobile2.png'); background-repeat:no-repeat;padding-top:70px;padding-bottom:70px;background-size:100% 100%;">
                                        <span class="fs-5 fs font-weight-bold"> Savings & Investment</span>
                                        <span class="fs-1"> <i class="fa fa-check-to-slot"  style="margin-top: 40px !important"></i></span>
                                    </div>
                                    <div class="col-md-3 col-4 text-center " style="background-image: url('/assets/img/mobile2.png'); background-repeat:no-repeat;padding-top:80px;padding-bottom:px;background-size:100% 100%;">
                                        <span class="fs-5 fs  font-weight-bold"> Get Credit</span>
                                        <span class="fs-1"> <i class="fa fa-check-to-slot"  style="margin-top:60px"></i></span>
                                    </div>
                                </div>
                                <span style="font-size: 25px; font-weight:bold ">
                                    Ready to be financial Indipendent
                                </span>
                                <button class="btn bg-mybutton shadow font-weight-bold mt-2  text-black-50   btn-lg " data-bs-toggle="modal" data-bs-target="#exampleModal">Make your Move!<i class="fa fa-right-long" style="padding-left:10px"></i></button>
                            </div>
                            <div class="col-6 mainimg works" style="background-image: url('../../assets/img/how it works6.png'); background-repeat: no-repeat; background-size: 100% 100%; ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Banner Ends Here -->



    <div class="more-info" id="how it works">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>How It <em>Works ?</em></h2>
                        <span>Your first step towards financial Indipendence.</span>
                    </div>
                    <div class="row justify-content-center reverse">
                        <div class="col-lg-6 col-12 col-md-6">
                            <div class="section-heading " style="padding-top:60px !important">
                                <h2 class="text-left"><em>Provide your details​</em></h2>
                                <p class="text-left fa-1x pt-4">Confirm’s personal finance experts work tirelessly to find the best solutions for your whether you are looking for resolving / refinancing a debt or building savings & investments for your future. We'll help you choose the most suitable solution so that you can achieve Financial Independence.​</p>

                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-12 col-md-6 works submit dex" style="background-image: url('../../assets/img/how it works3.png');">



                        </div>
                        <div class="col-lg-5 col-12 col-md-6 works submit mob" style="height:200px !important">

                            <img src="~/assets/img/how it works3.png" style="height:200px; padding-left:60px" />


                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-12 col-md-6 works submit dex" style="background-image: url('../../assets/img/how it works2.png');">



                        </div>
                        <div class="col-lg-5 col-12 col-md-6 works submit mob" style="height:200px !important">

                            <img src="~/assets/img/how it works2.png" style="height:200px; padding-left:60px" />


                        </div>
                        <div class="col-lg-6 col-12 col-md-6">
                            <div class="section-heading " style="padding-top:100px ">
                                <h2 class="text-left"><em>Talk to our experts​</em></h2>
                                <p class="text-left   fa-1x pt-4">Our promise is that our experts, backed by proprietary and customised algorithms for every customer will provide unique solutions for your unique needs. ​</p>

                            </div>

                        </div>
                    </div>
                    <div class="row justify-content-center reverse">
                        <div class="col-lg-6 col-12 col-md-6">
                            <div class="section-heading " style="padding-top:100px ">
                                <h2 class="text-left"><em>Our Goal = Your Financial Independence​</em></h2>
                                <p class="text-left   fa-1x pt-4">
                                    Settle your debt / Start your savings & Investments

                                    AND Start your journey to get financially independent soon and live the life of your choice

                                    We are with you in every step
                                </p>

                            </div>
                        </div>
                        <div class="col-lg-5 col-6 col-md-6 works submit dex" style="background-image: url('../../assets/img/how it works 1.png');">

                        </div>
                        <div class="col-lg-5 col-12 col-md-6 works submit mob" style="height:200px !important">

                            <img src="~/assets/img/how it works3.png" style="height:200px; padding-left:60px" />


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fun-facts">
        <div class="container-fluid">
            <div class="section-heading">
                <h2 class="text-white">What our Customers <em>says</em></h2>

            </div>
            <div class="row justify-content-center">

                <div class="col-md-6">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="img-box"> <img src="~/assets/img/loanset2.jpg" /></div>

                                <p class="testimonial">

                                    At first I was not sure if this program will help, but I enrolled based on recommendation of my friend. I must say this is the best thing I have done to free myself from the debt burden. I have settled my loan for more than 40% discount and CONFIRM has not just brought me out of Debt, but also helped me start my journey towards financial freedom by recommending me investment plans
                                </p>  <p class="overview"><b>Rakesh Agarwal</b></p>

                                <div class="star-rating">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="img-box">
                                    <div class="img-box"> <img src="~/assets/img/loanset2.jpg" /></div>
                                </div>

                                <p class="testimonial">

                                    I can surely say that CONFRIM is the best place and has the best people who take proper measures and help people in closing their accounts at best possible settlement. Their advisor exactly knew the negotiation tactics to be used and pointed out the lender’s deficiencies
                                </p>
                                <p class="overview"><b>Arbaz Khan</b></p>
                                <div class="star-rating">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="img-box"> <img src="~/assets/img/loanset2.jpg" /></div>

                                <p class="testimonial">

                                    Best way to get debt free. CONFIRM helped me get rid of my loans in the easiest way possible.
                                </p>
                                <p class="overview"><b>Suraj Vandoor</b></p>
                                <div class="star-rating">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 align-self-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="count-area-content dex">
                                <div class="d-flex digit "> <div class="customer count-digit"> 900  </div> +  </div>
                                <div class="count-title">Customers</div>
                            </div>
                            <div class="count-area-content mob">
                                <div class="customer count-digit"> 900  </div>
                                <div class="count-title">Customers</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="count-area-content dex">
                                <div class="d-flex digit "> <div class="customer count-digit"> 1220  </div> +  </div>
                                <div class="count-title">Counselling Sessions</div>
                            </div>
                            <div class="count-area-content mob">
                                <div class="customer count-digit"> 1220  </div>
                                <div class="count-title">Counselling Sessions</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="count-area-content dex">
                                <div class="d-flex digit "> <div class="customer count-digit"> 41  </div> %  </div>
                                <div class="count-title">Avg Debt Deduction</div>
                            </div>
                            <div class="count-area-content mob">
                                <div class="customer count-digit">41  </div>
                                <div class="count-title">Avg Debt Deduction</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="count-area-content">

                                <div class="count">4.7</div>
                                <div class="count-title">Our ratings </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="faq_area section_padding_130" id="faq">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <!-- Section Heading-->
                    <div class="text-center mb-4 mt-2 ">
                        <h1 class="sm:text-3xl text-2xl font-bold title-font text-black-900 mb-4">Frequently Asked <em style="color: #A020F0">Questions</em></h1>
                        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-black-500s"></p>
                        <div class="flex mt-6 justify-center">
                            <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- FAQ Area-->
                <div class="col-12 col-sm-10 col-lg-12">
                    <div class="accordion faq-accordian" id="faqAccordion">
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="card-header bg-light shadow" id="headingOne">
                                <h6 class="mb-0 collapsed h5" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is Debt/Loan Settlement?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                                <div class="card-body bg-light">
                                    <p>
                                        Debt/Loan Settlement means settling debt for less than what is owed by negotiating with the lenders. CONFIRM’s Debt/Loan Settlement program is right choice for people who are so overwhelmed with debt that they cannot figure out a solution on their own.

                                        CONFRIM will help you plan your settlement using a disciplined and strategic approach. The Journey to Debt/Loan settlement is difficult, but there is financial freedom and lots of happiness at the end of this journey.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="card-header shadow  bg-light" id="headingTwo">
                                <h6 class="mb-0 collapsed h5" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">What will the service cost me?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                                <div class="card-body  bg-light">
                                    <p>
                                        CONFIRM charges a very nominal subscription fee for the duration of your debt settlement program. We understand that dealing with debt is stressful, the subscription fee entitles you for the following benefits – Dedicated Expert Debt Advisory who helps you to deal with harassment, pre-litigation support, lender communication & negotiation, repayment plan, monthly budgeting, and counselling

                                        An average client usually pays a fee of 2-5% of the total debt enrolled in the program. And if we can’t settle your accounts, we refund your money. It’s that simple.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="card-header shadow  bg-light" id="heading">
                                <h6 class="mb-0 collapsed h5" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">Will the program impact my credit score?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapse3" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                                <div class="card-body  bg-light">
                                    <p>
                                        Depending on your personal situation and whether you have already missed payments to your lenders, debt settlement programs may have either a negative or positive impact on your credit score. Our goal is to help you get out of debt as fast as possible by negotiating with your lenders to get them to accept significantly less than what they owe.

                                        If you are already behind on your payments, chances are that your credit score has already taken a hit and the negative effects of our program on your score may not be as substantial. Infact, your credit scores generally tend to improve quickly once a debt settlement program has been completed.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header shadow  bg-light" id="heading4">
                                <h6 class="mb-0 collapsed h5" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseThree">Can I negotiate with the lenders on my own? <span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapse4" aria-labelledby="headingThree" data-parent="#faqAccordion">
                                <div class="card-body  bg-light">
                                    <p>Although a Do-It-Yourself (DIY) approach might sound good, it is not the most efficient one. Debt Settlement is complex and time-consuming activity. At CONFIRM, we take care of every detail of debt negotiations – helping you overcome the most significant roadblocks that are standing in the way of your financial independence. We have the relevant experience dealing with 100s of banks & NBFCs and know the tricks of negotiation. Our deep knowledge of the regulations around lending and understanding of the rights of the borrowers, helps to negotiate best settlement and outcome for you.</p>

                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header shadow  bg-light" id="heading5">
                                <h6 class="mb-0 collapsed h5" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseThree">How much can I save? <span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapse5" aria-labelledby="headingThree" data-parent="#faqAccordion">
                                <div class="card-body  bg-light">
                                    <p>Our negotiation rate ranges from 30% to 50%, meaning we usually save you 30% to 50% on your overall outstanding. Our Expert Debt Advisors (EDAs) know exactly how to deal with each lender and look for solutions that support your cause to save maximum with each lender. We won’t stop until we’ve reached the best deal possible. We Promise.</p>

                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header shadow  bg-light" id="heading6">
                                <h6 class="mb-0 collapsed h5" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapseThree">How long will it take to get out of debt? <span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapse6" aria-labelledby="headingThree" data-parent="#faqAccordion">
                                <div class="card-body  bg-light">
                                    <p>
                                        It depends on how quickly you can build up your funds and save for the settlement offers. The faster you save, the quicker you get out of debt.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header shadow  bg-light" id="heading7">
                                <h6 class="mb-0 collapsed h5" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapseThree">Will I get sued by my lenders?  <span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapse7" aria-labelledby="headingThree" data-parent="#faqAccordion">
                                <div class="card-body  bg-light">
                                    <p>
                                        There is a slight possibility that a lender might sue you. But, lawsuits are expensive and lenders try to avoid them. We aim to complete the program as quickly as possible to avoid any lawsuits.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header shadow  bg-light" id="heading8">
                                <h6 class="mb-0 collapsed h5" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapseThree">Is Debt/Loan Settlement really, worth it?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapse8" aria-labelledby="headingThree" data-parent="#faqAccordion">
                                <div class="card-body  bg-light">
                                    <p>
                                        Yes! Absolutely!

                                        Debt is a valuable tool when used wisely. A home loan can help you move into your dream home and an auto loan can help you buy your dream car. Credit cards are a plus for your finances if you use them for the perks and rewards without letting them take over your life. Even a Personal Loan that finances your urgent needs are helpful.

                                        But if your debt has gotten out of control and you are revolving Debt/Loan at exorbitant charges or struggling to make minimum payments on your Credit Cards, you’re dealing with unnecessary stress that can affect both you and those close to you.

                                        CONFIRM will help you manage it and provide a path out of debt that could result in you paying less than you owe. When you enrol in our program, not only will we negotiate down your debt and help you get on top of your finances, but you’ll also find yourself free of the stress, guilt, and worry that comes with overwhelming debt. That means you’ll have time to focus on what really matters: family, career, and enjoying life to the fullest.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Support Button-->
                    @*<div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <i class="lni-emoji-sad"></i>
                            <p class="mb-0 px-2">Can't find your answers?</p>
                            <a href="#footer"> Contact us</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>





    @*<div class="partners">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-partners owl-carousel">

                            <div class="partner-item">
                                <img src="~/assets/img/client-01.png" />

                            </div>

                            <div class="partner-item">
                                <img src="~/assets/img/client-01.png" />

                            </div>

                            <div class="partner-item">
                                <img src="~/assets/img/client-01.png" />

                            </div>

                            <div class="partner-item">
                                <img src="~/assets/img/client-01.png" />

                            </div>

                            <div class="partner-item">
                                <img src="~/assets/img/client-01.png" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@



    <!-- Footer Starts Here -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-item">
                    <h4>
                        <img src="~/assets/img/confirm_logo_new.png" style="width:180px" />
                    </h4>
                    <p>Confirm helps you to get relief from all your financial problems.</p>

                </div>

                <div class="col-md-4 footer-item">
                    <h4>Quick Links</h4>
                    <ul class="menu-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#how it works">How it work</a></li>
                        <li><a href="#faq">FAQ's</a></li>
                        <li><a href="~/home/Terms">Terms & Conditions</a></li>
                        <li><a href="~/home/Privacy">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-md-4 footer-item last-item">
                    <h4>Contact Us</h4>
                    <div class="contact-form">
                        <form id="contact footer-contact" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <p>
                        Copyright &copy; 2020 KonnectSquare LLP
                    </p>
                    <p>
                    </p>
                </div>
                <div class="col-md-6 ">
                    <div class="footer-item " style="float:right">

                        <ul class="social-icons  d-flex">
                            <li class="mx-2"><a rel="nofollow" href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content content">

                <div class="card pop text-white">
                    <div class="modal-header " style="border-bottom:none;">
                        <h5 class="modal-title h4 font-weight-bold" style="padding-left:140px;">Login</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body p-2 text-center">
                        <div class="  pb-2 text-center">

                            <div class="form-outline form-white  text-left ml-4">
                                <input type="hidden" id="customer_id" value="0">
                            </div>
                            <p class="alert p-0 text-success font-weight-bold" id="successAuth" style="display: none;height:30px"></p>
                            <div class="form-outline form-white mb-2 text-left ml-4">

                                <label class="form-label text-white" for="typeEmailX">Mobile</label>
                            </div>

                            <div class="form-outline d-flex form-white mb-2 text-left ml-4">

                                <input type="text" id="mobile_number" placeholder="Enter mobile number" class="form-control" style="width:300px" />

                            </div>
                            <div class="form-outline  form-white mb-2 text-left ml-2 col-12" id="recaptcha-container"></div>
                            <div class="form-outline d-flex form-white mb-2 text-left ml-4" id="edit" style="margin-left:120px !important; margin-top:20px; margin-bottom:20px !important">
                                <button  class="btn btn-outline-light" style="height:38px;" onclick="sendOTP();" type="submit">Send OTP</button>
                            </div>
                            <div id="save">
                                <div class="form-outline form-white  mb-2 text-left ml-4">
                                    <input type="text" id="verification" placeholder="Enter OTP" class="form-control  " style="width:300px" />
                                </div>
                                <a class="btn btn-outline-light btn-lg px-3" onclick="verify();" type="submit">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="nav-link font-bold " id="name">
            </a>
        </div>
    </div>




    <div class="modal fade" id="invest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center text-white font-weight-bold" style="background-color: #A020F0">

                    <h5 class="modal-title" id="staticBackdropLabel">Savings & Investments</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="~/assets/img/comingsoon.gif" class="h-75 w-75" />
                    <p class="fs-4 text-center text-black"> Watchout this space for more, launching soon....</p>
                    @*<button class="btn  shadow font-weight-bold mt-2 text-white btn-lg" style="background-color: #A020F0;" data-bs-toggle="modal" data-bs-target="#">Join Now!<i class="fa fa-right-long" style="padding-left:10px"></i></button>*@

                </div>

            </div>

        </div>
    </div>



</div>

<script>
    var edit = document.getElementById("edit");
    var save = document.getElementById("save");

    edit.onclick = function () {
        save.style.visibility = "visible";

    }
</script>

<script>
    var words = ['Debt!', ' Life!', ' Savings', ' Investments'],
        part,
        i = 0,
        offset = 0,
        len = words.length,
        forwards = true,
        skip_count = 0,
        skip_delay = 10,
        speed = 100;
    var wordflick = function () {
        setInterval(function () {
            if (forwards) {
                if (offset >= words[i].length) {
                    ++skip_count;
                    if (skip_count == skip_delay) {
                        forwards = false;
                        skip_count = 0;
                    }
                }
            }
            else {
                if (offset == 0) {
                    forwards = true;
                    i++;
                    offset = 0;
                    if (i >= len) {
                        i = 0;
                    }
                }
            }
            part = words[i].substr(0, offset);
            if (skip_count == 0) {
                if (forwards) {
                    offset++;
                }
                else {
                    offset--;
                }
            }
            $('.word').text(part);
        }, speed);
    };

    $(document).ready(function () {
        wordflick();
    });

</script>



<script>
    var firebaseConfig = {
        apiKey: "AIzaSyAnHZ52hYNRA0fV3hUxVL7Y0EAC3gn79-k",
        authDomain: "confirmfinance-8019a.firebaseapp.com",
        projectId: "confirmfinance-8019a",
        storageBucket: "confirmfinance-8019a.appspot.com",
        messagingSenderId: "613982490352",
        appId: "1:613982490352:web:d2422befcf6be503013c35",
        measurementId: "G-QBT5D4CYTN"
    };
    firebase.initializeApp(firebaseConfig);
</script>
<script type="text/javascript">
    var coderesult;
    window.onload = function () {
        render();
    };
    function render() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }
    function sendOTP() {

        var number = $("#mobile_number").val();

        if (isNaN(number)) {
            $("#successAuth").text("Invalid number");
            $("#successAuth").show();
        }
        else {
            var mobnumber = '+91' + number;
            //alert(mobnumber);
            localStorage.setItem("mobile_number", number);
            firebase.auth().signInWithPhoneNumber(mobnumber, window.recaptchaVerifier).then(function (confirmationResult) {
                window.confirmationResult = confirmationResult;
                coderesult = confirmationResult;
                console.log(coderesult);
                $("#successAuth").text("Message sent");
                $("#successAuth").show();
            }).catch(function (error) {
                alert(error.message);
                // $("#error").show();
            });
        }
    }
    function verify() {
        var code = $("#verification").val();
        coderesult.confirm(code).then(function (result) {
            var user = result.user;
            console.log(user);
            //alert("Auth is successful");
            window.location.href = '/home/Great';
            //$("#successOtpAuth").show();
        }).catch(function (error) {
            alert(error.message);
            //$("#error").show();
        });
    }
</script>

